@if (currentUser$ | async; as user) {
<div class="user">
  <h3>Username: {{user.name}}</h3>
  <h4>Protected projects: {{user.protectedProjects}}</h4>
  <div class="buttons">
    <button (click)="synchronizeUser(user)">Synchronize</button>
    @if (isCurrentUserFavorite$ | async) {
      <button (click)="removeFromFavorites(user)">Remove from favorites</button>
    } @else {
      <button (click)="addToFavorites(user)">Add to favorites</button>
    }
  </div>

  <a routerLink="/" class="go-back">Go back to list</a>
</div>
}

@if (currentUserError$ | async; as error) {
<div class="error">
  <h3>Error</h3>
  <p>{{error.statusText}}</p>
</div>
}


