@if (currentUser$ | async; as user) {
<div class="user">
  <h3>Username: {{user.name}}</h3>
  <h4>Protected projects: {{user.protectedProjects}}</h4>
  <div class="buttons">
    <button (click)="synchronizeUser(user)">Synchronize</button>
    <!-- <button *ngIf="isUserFavorite(favoriteUsers$ | async)" (click)="removeFromFavorites()">Remove from favorites</button>
    <button *ngIf="isNotUserFavorite(favoriteUsers$ | async)" (click)="addToFavorites()">Add to favorites</button> -->
  </div>

  <a routerLink="/" class="go-back">Go back to list</a>
</div>
}

@if (currentUserError$ | async; as error) {
<div class="error">
  <h3>Error</h3>
  <p>{{error.statusText}}</p>
</div>
}


